:root{
    --dark-color: #000;
    --blue-color: #1539F9;
    --bone-color: #F7F7F7;
    --gray-color: #C4C4C4;
    --lightblack-color: #00000070;
    --roboto-font: 'Roboto', sans-serif;
    --monserrat:'Montserrat', sans-serif;
}
